body {
  font-family: 'Ubuntu';
  font-weight: 700;
}

.topnav {
  background-color: #52BE80;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 220px;
}


.topnav a:hover {
  background-color: #08A99F;
  color: black;
}


.performance {
  height: 400px;
  width: 621px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: #DEF2F1;
  float: left;
}

.text {
  text-align: center;
  font-size: 30px;
}

.cat {
  width: 207px;
  height: 100px;
  text-align: center;
  float: left;
  font-size: 25px;
}

#portname button {
  text-decoration: none;
  margin-top: 25px;
  background-color: #DEF2F1;
  border: none;
  font-size: 25px;
  font-family: 'Ubuntu';
  border-radius: 20px;
}

#portname button:hover {
  background-color: #08A99F;
  color: black;
}

#portchange {
  color: #52BE80;
}

#red {
  color: red;
}

.logo {
  height: 45px;
  width: 45px;
  float: right;
  margin-top: 540px;
}