h1 {
	margin-top: 60px;
	margin-left: 60px;
}

#chart{
	float: left;
}

.stats {
	float:left;
	margin-left: 10%;
	font-size: 25px;
}

.info {
	font-size: 18px;
	float: left;
}

.results {
	font-size: 18px;
	float: left;
	color: #52BE80;
	margin-left: 20px;
	text-align: center;
}

#black {
	color: black;
}