img {
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
}

.userinfo {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 10%;
	margin-top: 2%;
	font-size: 20px;
}

.badge img {
  border-radius: 0%;
  height: 40px;
  width: 40px;
  margin-left: 10%;
  margin-top: 2%;
  
}

.poolsProfile {
	position: relative;
	left: 500px;
	top: -650px;
}


.gamification {
	font-size: 16px;
	color: grey;
	position: relative;
	left: -115px;
	top: -55px;
}

.back img {
	height: 40px;
  	width: 40px;
}

#referButton{
	position: relative;
	left: -100px;
	top: -55px;
	border-radius: 20px;
	outline: none;
    color: rgb(38, 50, 56);
    width: 70px;
    font-weight: 700;
    border: 2px solid rgba(0, 0, 0, 0.03);
    text-align: center;
    font-size: 12.5px;
    letter-spacing: 1px;
    padding: 10px;
}

.refer {
	position: relative;
	left: -115px;
	top: -55px;
	border-radius: 20px;
	outline: none;
    color: rgb(38, 50, 56);
    width: 300px;
    font-weight: 700;
    border: 2px solid rgba(0, 0, 0, 0.03);
    text-align: center;
    font-size: 12.5px;
    letter-spacing: 1px;
    padding: 10px;
}